.insereNovaNota {
  font-size: 1rem;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #C6C6C6;
  text-align: center;
}

.insereNovaNota-campo {
  width: 100%;
  max-width: 28.75em;
  display: block;
  margin: 0 auto;
  height: 2em;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1em;
  transition: height .2s ease;
}

.insereNovaNota-campo:focus {
  height: 7.5em;
  outline: 2px solid lightblue;
}

.insereNovaNota-envia {
  margin-top: 1em;
  padding: .5em;
  display: inline-block;
  border: none;
  background: #5F42C4;
  font-size: 1em;
  color: #fff;
}
