.mural {
  background: #E8E8E8;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.mural .nota + .nota {
  margin-top: 1em;
}

@media(min-width: 407px){
  .mural .nota {
    width: 180px;
    margin-top: 0;
    margin: 1em 1em;
    flex-basis: 180px;
    flex-grow: 1;
    display: inline-block;
  }

  .mural .nota + .nota {

  }
}
